.text-center
  .row
    .large-12.columns
      %h1 New NFC Tag
  .row
    .large-12.columns
      = form_for @tag do |f|
        = render :partial => 'shared/error_messages', :locals => { :errors => @tag.errors, :name => 'NFC Tag' }
        = render :partial => 'tag_fields', :locals => { :f => f }
        .row
          .large-12.columns 
            .actions
              = f.submit 'Update NFC Tag', class: "button"
