= form_for @tag do |f|
  .row
    .large-12.columns
      %h4 New Tag
  .row
    .large-12.columns
      = render :partial => 'shared/error_messages', :locals => { :errors => @tag.errors, :name => 'NFC Tag' }
      = render :partial => 'tag_fields', :locals => { :f => f }
  .row
    .large-12.columns.small-centered
      = f.submit 'Create NFC Tag', class: 'button'
