.text-center
  .row
    - unless @tag.nil?
      .large-12.columns
        %h1= @tag.name
        %h3= @tag.legible_id
    .large-12.columns
      You should download the app!  More info here:

      - unless @tag.nil? or @tag.payloads.empty?
        - @tag.payloads.each do |payload|
          = render :partial => 'show_payload', :locals => { :payload => payload }
          %hr
