%section.promo-header
  .row
    .large-6.small-centered.columns
      %h2 Tip Anyone or Anything
      %p Place a tag on anyone or anything and it becomes a new source of revenue. Like the song the DJ is playing? Tap dat. Amazing bartender? They get a tap. An awesome performance? Break out Tap dat app.
      = image_tag("mobile-phones.png")
%section.rewards
  .row
    .large-6.small-centered.columns
      %h2 Tap > Cash
      %p These days, everything is done via mobile devices. Why should tipping be any different? Tap replaces cash in your club. It also promotes competition by creating games with real time data, making the experience more fun and profitable. <strong>This is the next generation of tipping!</strong>
%section.highlights
  .list-container
    .row
      .large-4.small-12.columns
        =image_tag("hasslecash.png", style: "height: 200px")
      .large-8.small-12.columns
        %ul
          %li reduce theft and fraud
          %li reduce security costs
          %li valuable data thorugh our reporting and analytics engine
  .list-container
    .row
      .large-4.small-12.columns
        =image_tag("tapsolution.png", style: "height: 200px")
      .large-8.small-12.columns
        %ul
          %li Mobile Payments without the expensive hardware costs
          %li Just tap the phone to tip
          %li Place tag ANYWHERE and tip ANYTHING
  .list-container
    .row
      .large-4.small-12.columns
        =image_tag("tapbennies.png", style: "height: 200px")
      .large-8.small-12.columns
        %ul
          %li Bigger tips get better rewards!
          %li Dynamic leaderboards encourage competition
          %li Real-time data lets you maximize the potential of your venue
  .list-container
    .row
      .large-4.small-12.columns
        =image_tag("btc.png", style: "height: 200px")
      .large-8.small-12.columns
        %ul
          %li New sources of revenue
          %li Fully compatible with Bitcoin and Other cryptocurrencies
          %li Points, Coins, Dollars, Euros, Tokens and all other currencies
%section.cash
  .row
    .large-8.columns.small-centered.text-center
      %h2 Make More Money. <br /> Retain more Loyal Engaged Customers.
%section.features
  .row
    .large-6.columns.text-center
      %h2.underline Increase Club Profits
      %p
        Now <strong>you</strong> control the tipping platform. Now you can "Tap" into revenue streams and customer interactions that used to be impractical for the club 
        to monetize. Our leaderboard gaming console both identifies your big tippers and motivates them to spread the wealth even further: 
        to DJ's, bartenders, even art on the wall. "Weekend" girls -- or upcoming features -- can put up tappable posters and interact with customers all 
        week long.
    .large-6.columns.text-center
      %h2.underline Capture More Data
      %p 
        Do you really know who your big tippers are? Your best bartenders? Your club's most popular entertainers? You do now! Tap "makes it rain" 
        real-time data you can monitor from anywhere -- and generates it naturally, with no need for direct observation or intrusive ID scanning. 
        It just falls out of customers' natural interactions with your performers and staff.
%section.about
  .row.text-center
    .large-3.columns
      %i.fa.fa-lock.fa-4
      %h4 A More Secure Solution
      %p
        Tap keeps you in control of your cash! Our solution keeps it localized to one secure location, and frees your performers (and staff) 
        from keeping track of bags of cash.
    .large-3.columns
      %i.fa.fa-money.fa-4
      %h4 Flexible Payment Processing
      %p 
        Continue to process credit cards and collect cash, using tap to capture the distribution of the cash and credit card charges and pay out your 
        contractors, performers, and staff at the end of the night.
    .large-3.columns
      %i.fa.fa-puzzle-piece.fa-4
      %h4 Fully Customized to your Venue / Business
      %p 
        The app is built to be fully customized as a natural extension of your club's technology. Your logo goes in the app and on the leaderboard. 
        Tap encourages custom club currency design, along with many other opportunities for proprietary images and ads.
    .large-3.columns
      %i.fa.fa-line-chart.fa-4
      %h4 Reporting and Analytics
      %p 
        Keep regulators and auditors off your back with software designed to be fully compliant with federal, state, and local standards. 
        Our real-time monitoring and reporting simplifies the nightly payout process, and helps you find and fix inefficiency <strong>before</strong> it costs you money.
