.front_hello
  #hellocont.large-8.columns.lightbg.small-centered
    #hello
      %h1 Site being built very soon
      %br
      %br
  .front_howdy
    #hellocont.large-8.columns.darkbg.small-centered
      .row
        .large-4.small-4.columns.centered.text-center.touch
          = link_to("New Experience", '#technology')
        .large-4.small-4.columns.centered.text-center.advocate
          = link_to("CashLess Tips", '#philanthropy')
        .large-4.small-4.columns.centered.text-center.play
          = link_to("Safe and Secure", '#philology')
