%section.promo-header
  .row
    .large-6.small-centered.columns
      %h2 Tip Anyone or Anything
      %p Place a tag on anyone or anything and it becomes a new source of revenue. Like the song the DJ is playing? Tap dat. Amazing bartender? They get a tap. An awesome performance? Break out Tap dat app.
      = image_tag("mobile-phones.png")
%section.rewards
  .row
    .large-6.small-centered.columns
      %h2 Tap > Cash
      %p These days, everything is done via mobile devices. Why should tipping be any different? Tap replaces cash in your club. It also promotes competition by creating games with real time data, making the experience more fun and profitable. <strong>This is the next generation of tipping!</strong>
%section.highlights
  .list-container
    .row
      .large-4.small-12.columns
        =image_tag("hasslecash.png", style: "height: 200px")
      .large-8.small-12.columns
        %ul
          %li reduce theft and fraud
          %li reduce security costs
          %li valuable data thorugh our reporting and analytics engine
  .list-container
    .row
      .large-4.small-12.columns
        =image_tag("tapsolution.png", style: "height: 200px")
      .large-8.small-12.columns
        %ul
          %li Mobile Payments without the expensive hardware costs
          %li Just tap the phone to tip
          %li Place tag ANYWHERE and tip ANYTHING
  .list-container
    .row
      .large-4.small-12.columns
        =image_tag("tapbennies.png", style: "height: 200px")
      .large-8.small-12.columns
        %ul
          %li Bigger tips get better rewards!
          %li Dynamic leaderboards encourage competition
          %li Real-time data lets you maximize the potential of your venue
  .list-container
    .row
      .large-4.small-12.columns
        =image_tag("btc-icon.png", style: "height: 200px")
      .large-8.small-12.columns
        %ul
          %li New sources of revenue
          %li Fully compatible with Bitcoin and Other cryptocurrencies
          %li Points, Coins, Dollars, Euros, Tokens and all other currencies
%section.cash
  .row
    .large-8.columns.small-centered.text-center
      %h2 Make More Money. <br /> Retain more Loyal Engaged Customers.
%section.features
  .row
    .large-6.columns.text-center
      %h2.underline Increase Club Profits
      %p Using Tap you can charge a service fee to the performers and/or charge a percentage of every transaction. You control the tipping platform and can monetize. You can also collect tips for the DJ, bartenders or even pieces of art on the wall. Big tippers can tip everything they like. They will also be encouraged to tip more to get to the top of the ‘top tippers’ leaderboard.
    .large-6.columns.text-center
      %h2.underline Capture More Data
      %p Who are your big tippers? Reward them more and get them to come back more often. Who are the favorite performers? Who are your best bartenders? Tap captures the most valuable data for your club—what your customers like. That Real-time Data helps you run your business better.
%section.about
  .row.text-center
    .large-3.columns
      %i.fa.fa-lock.fa-4
      %h4 A More Secure Solution
      %p Tap keeps cash centralized so the threat of theft is no longer a security concern. Performers won’t have to worry about carrying or storing cash.
    .large-3.columns
      %i.fa.fa-money.fa-4
      %h4 Flexible Payment Processing
      %p Continue to process credit cards and collect cash, using tap to capture the distribution of the cash and credit card charges and payout your contractors, performers, and staff at the end of the night.
    .large-3.columns
      %i.fa.fa-puzzle-piece.fa-4
      %h4 Fully Customized to your Venue / Business
      %p The app and the platform are both built so they can be fully customized. Your logo in the app and on the leaderboard. It becomes an extension of your club’s technology.
    .large-3.columns
      %i.fa.fa-line-chart.fa-4
      %h4 Reporting and Analytics
      %p Data from every night of business can be used to run more efficiently. Reports show the distribution of money and can be used to keep regulatory agencies and auditors off your back.
