.front_intro
.front_hello
  #hellocont.large-8.columns.lightbg.small-centered
    #hello
      %h1 Boobs go here
      %br
      %br
  .front_howdy
    #hellocont.large-8.columns.darkbg.small-centered
      .row
        .large-4.small-4.columns.centered.text-center.touch
          = link_to("FONDLE", '#technology')
        .large-4.small-4.columns.centered.text-center.advocate
          = link_to("BEG", '#philanthropy')
        .large-4.small-4.columns.centered.text-center.play
          = link_to("MOLEST", '#philology')
