%section.promo-header
  .row
    .large-6.small-centered.columns
      %h2 Tip Anyone or Anything
      %p Let us worry about all of the hard payment stuff Spend your time doing something better
      = image_tag("mobile-phones.png")
%section.rewards
  .row
    .large-6.small-centered.columns
      %h2 Reward your big tippers
      %p Cash is messy and hard to maintain. This platform keeps cash centralized and no longer an issue. Distributing $1 will be a thing of the past. Theft will be prevented from both performers and the club.
    .small-10.columns.small-centered
      = image_tag("promo-image.png")
%section.cash
  .row
    .large-6.columns.small-centered.text-center
      %h2.underline.white Cash is a thing of the past
%section.features
  .row
    .large-6.columns.text-center
      %h2.underline Analytics
      %p Capture all the data from every single night of business and use the data to run leaner and more efficiently.
      %i.fa.fa-bar-chart.fa-10
    .large-6.columns.text-center
      %h2.underline Fully Customized
      %p The app and the platform are both built so they can be fully customized. Your logo in the app and on the leaderboard.
      %i.fa.fa-flask.fa-10
%section.about
  .row
    .large-8.columns.small-centered.text-center
      %h2.underline.white About Tapdat App
      %p Class aptent taciti sociosqu ad litora torquent per conub
