#container.text-center
  = image_tag('logo-white.png', style: 'position: relative; z-index: 99;');
  %h3 tap dat app
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
