.row
  .large-12.columns
    %h1== Currencies
.row
  .large-12.columns
    %table.table.zebra-striped
      %thead
        %th Issuer
        %th Icon
        %th Name
        %th Denominations
        %th Codes
        %th Expiration (days)
        %th Reserve
        %th Leader Board
        %th
      %tbody
        - @currencies.each do |currency|
          = render :partial => 'currency', :locals => { :currency => currency }
.row
  = link_to 'Add Currency', new_currency_path
