.currency_section{:id => currency.name.gsub(' ', '_')}
  %h1 Currency
  %h3= currency.name

  Show balance of currency
  here we need to have a form that will generate vouchers - enter amount (multiple of base amount in denomination - just check don't do dropdown)

  Show Transaction History - Purchases, Sum of txn inbound (when people tap these tags

