.row
  %h4 My Yapa
  %a.left{:onclick => "collapse();"} X
%ul.small-block-grid-6
  - user.payloads.each do |yapa|
    %li{:id => "#{yapa.slug}", :class => "oneyapa",
        :style=> "background-image: url(#{yapa.mobile_payload_image_url(:thumb).to_s}); width: 200px; height: 200px; border: 1px solid black; margin:10px; padding: 10px",
        :onclick => "expand_me('#{yapa.slug}');"}
      .panel.radius.round
        = truncate( yapa.content, :length => 20)      
      %br
.row
  .panel.large-12.columns
    Similar to app.  Tiles (square-ish) of pictures - 3x3 or 4x4 (or just responsive  blocks that fill a grid - same shape (locked shape)
    Each yapa history click opens up to a single yapa view (div on top of the yapa history page -> animate in and out)

    Single Yapa:
    Picture
    Note
    Currency + amount given (+ maybe icon?)
    link to full res image (for download)
