- flash.each do |key, value|
  %div{:class => "alert-box alert-#{key}", "data-alert" => ""}
    .row
      .large-12.columns
        %a.close{"data-dismiss" => "alert", :href => '#'} ×
        = content_tag(:div, value)
