%footer
  .row
    .large-8.columns
      %h6
        %strong About us
      %p © 2014 Tap Dat, LLC   All Rights Reserved
    .large-4.columns
      %ul.inline-list.right
        %li
          = link_to 'Legal Notices', legal_path
        %li
          = link_to 'Privacy Policy', privacy_path
