%footer
  .row
    .large-6.small-4.medium-2.columns.small-centered
      = link_to(image_tag("zeo.png", size: "150x150"), root_path)
      = link_to(image_tag("mancini.png", size: "150x150"), root_path)
      = link_to(image_tag("tapnology.png", size: "150x150"), root_path)
