.name {
    //background: $oil;
    img {
        width: 200px;
        padding: 20px 32px;
    }
}

.top-bar-section li:not(.has-form) a:not(.button) {
    transition: all 0.25s ease-in-out;
    &:hover {
        box-shadow: inset 0 -200px 0 -195px $primary-color;
    }
}

.top-bar-section {
  i {
    padding: 10px;
    display: inline-block;
    border: 2px solid white;
    border-radius: 100px;
    background: transparent;
  }

  .fa::before {
    width: 50px!important;
  }
}
