.name {
  //background: $oil;
  img {
    width: 250px;
    padding: 18px 32px;
  }
}

.top-bar-section li:not(.has-form) a:not(.button) {
  transition: all 0.25s ease-in-out;

  &:hover {
    box-shadow: inset 0px -200px 0px -195px $primary-color;
  }
}
