section:not(.top-bar-section) {
  padding: 4rem 0;
}

.promo-header {
  background: image-url('promo-header.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 0!important;

  h1, h2, h3, h4, p {
    color: white;
    text-align: center;
  }

  h1, h2, h3, h4 {
    line-height: 1!important;
  }

  h2 {
    font-family: 'lato';
    font-weight: 900;
    font-style: italic;
    font-size: 50px;
    color: white;
  }

  p {
      color: $primary-color;
  }

  img {
    margin-top: 3rem;
    margin-bottom: 1px;
  }
}

.rewards {
  text-align: center;
  background: white;

  img {
    margin: 4rem auto;
  }
}

.cash {
  background: $primary-color;
}

.features {
    .fa {
        color: $blush;
    }
  p {
    padding: 0 2rem;
    margin: 2rem 0;
  }
}

.about {
  background: $blush;
  color: white;

  h4 {
    margin: 1rem 0;
  }

  i {
    padding: 24px 20px;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    background: $primary-color;
  }

  .fa::before {
    width: 50px!important;
    display: block;
  }

  .about-tap li {
    width: 25%;
    background: lighten($midnight, 10%);
    display: inline-block;
  }

  p {
    font-size: 0.75rem;
  }
}
