section:not(.top-bar-section) {
  padding: 4rem 0;
}

.promo-header {
  background: image-url('promo-header.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 0!important;

  h1, h2, h3, h4, p {
    color: white;
    text-align: center;
  }

  h1, h2, h3, h4 {
    line-height: 1!important;
  }

  h2 {
    font-family: 'lato';
    font-weight: 900;
    font-style: italic;
    font-size: 50px;
    color: white;
  }

  p {
      color: $primary-color;
  }

  img {
    margin-top: 3rem;
    margin-bottom: 1px;
  }
}

.rewards {
  text-align: center;
  background: white;

  img {
    margin: 4rem auto;
  }
}

.cash {
  background: $primary-color;

  h1, h2, h3, h4, h5, h6 {
    color: white;
  }
}

.features {
    .fa {
        color: $blush;
    }
  p {
    padding: 0 2rem;
    margin: 2rem 0;
  }
}

.highlights {
  background: $blush;
  color: white;
  padding: 0!important;

  .flex {
    display: flex;
    flex-wrap: wrap;
  }
  
  .margin {
    margin-bottom: 6rem;
  }

  .list-container {
    width: 50%;
    padding: 4rem;
    $border-color: lighten($blush, 5%);
    transition: background 0.25s ease-in-out;

    &:first-child {
      border-right: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
    }

    &:last-child {
      border-left: 1px solid $border-color;
      border-top: 1px solid $border-color;
    }

    &:hover {
      background: $border-color;
    }
  }

  li {
    display: flex;
    margin-bottom: 1rem;

    &:before {
      font-family: 'FontAwesome';
      content: '\f10c';
      margin-right: 0.5rem;
      font-size: 10px;
      padding-top: 6px;
      color: $primary-color;
    }
  }
}

.about {
  background: $blush;
  color: white;

  h4 {
    margin: 1rem 0;
  }

  i {
    padding: 24px 20px;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    background: $primary-color;
  }

  .fa::before {
    width: 50px!important;
    display: block;
  }

  .about-tap li {
    width: 25%;
    background: lighten($midnight, 10%);
    display: inline-block;
  }

  p {
    font-size: 0.75rem;
  }
}
