.leaderboard {
  background: darken($blush, 3%);;
  padding: 1rem 0;

  .stats .columns {
    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  h1 {
    color: white;
    font-weight: light;
    text-transform: uppercase;
    text-align: center;
    font-size: rem-calc(18);
    margin-bottom: 1rem;
  }

  table {
    background: $oil;
    margin: 0;
    width: 100%;
    border-spacing: inherit;
    color: darken($steel, 3%);

    thead {
      background: darken($steel, 3%);

      th {
        font-weight: normal !important;
        text-transform: uppercase;
        color: #171717;
      }
    }

    tr {
      color: white;

      &:first-child td {
        color: white;
      }

      &:nth-of-type(even) {
        background: lighten($steel, 5%);
      }
    }

    td {
      color: white;
      font-weight: thin;
      font-size: rem-calc(15px);
      padding: 6px 14px;
      text-transform: capitalize;

      &:first-child {
        text-align: center;
      }

      &:nth-child(2) {
        width: 40px;
        padding-left: 4px;
      }

      &:nth-child(3) {
        padding-left: 4px;
      }
    }

    .pill {

      border-radius: 0px;
      padding: 6px 10px;
      text-align: center;
    }

    .image {
      height: 60px;
      width: 60px;
      // border: 2px solid white;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

  }


  .animate{

    background-color: #a81d44;

  }




}
