.my-tap {
  .side-nav {
    background: white;
    padding: 3.5rem 0;

    .title {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 10px;
      color: darkgray;
      border-bottom: 2px solid $primary-color;
      cursor: pointer;

      &:hover {
        background: default;
      }
    }
  }
}
